
@import "./utils/variables";


*{
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  scroll-behavior: smooth;
}

body{
  background-color: $text-color-primary;
  font-family: "Eagle Light, sans serif";
  font-weight: 700;
}

p, h3, h2, h1, li{
}

.header{
  height: 100vh;
  background-color: $background-primary;
  position: relative;
  color: $text-color-primary;


  &__title{
    text-align: center;
    margin-top: 2rem;
  }

  &__choice{
    display: grid;
    grid-template-columns: 1fr 1rem 1fr;
    margin-top: 2rem;
    align-items: start;
    justify-items: center;

    &__item{
      display: flex;
      flex-direction: column;
      text-align: center;

      &:hover{
        .choice__picto{
          animation: shaking 0.3s infinite;
        }
      }
    }

  }

  .choice__title{
    text-align: center;
    color: $text-color-primary;

    h4{
      font-weight: bold;
    }
  }

  .choice__picto{
    margin-top: 2rem;
    transition: $transition;


    img{
      object-fit: contain;
      width: 80%;
    }
  }


  &__footer{
    overflow: hidden;
    position: absolute;
    bottom: -1%;
    width: 100%;

    img{
      width: 100%;
      object-fit: cover;
    }
  }


  .separator {
    border-left: 4px solid $text-color-primary;
    height: 80%;
    align-self: center;
  }
}

@keyframes shaking {
  0% { transform: rotate(0deg); }
  25% { transform: rotate(1deg); }
  50% { transform: rotate(0eg); }
  75% { transform: rotate(-10deg); }
  100% { transform: rotate(0deg); }
}

.navbar{
  display: grid;
  grid-template-columns: 45% 40%;
  gap: 15%;
  padding: 1rem;

  &__logo{
    text-align: center;

    img{
      width: 90%;
      object-fit: contain;
    }
  }

  &__menu{
    &__links{
      display: flex;
      justify-content: space-evenly;
      place-items: center;
      height: 100%;

      a{
        color: $text-color-primary;
      }
    }
  }
}

.subtitle{
  font-family: "Dharma Gothic";
}

.menu{
  color: $text-color-tertiary !important;
  width: 100%;
  overflow-x: clip;
  height: 100%;
  &__title{
    font-size: 3rem;
    text-align: center;
    color: $text-color-tertiary;
    margin: 2rem 0;
  }

  &__container{
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  #menu-bar{
    grid-template-columns: 1fr 2.5fr;
    column-gap: 10rem;

  }

  &__list{
    display: grid;
    grid-template-columns: 1fr 0.5fr;
    grid-template-rows: auto;
    margin: auto 10%;
    transition: $transition;
    z-index: 1;

    &__title{
      margin-bottom: 1.5rem;
      font-size: 2rem;
      font-weight: 800;

      &.--price{
        text-align: center;
      }
    }

    &__item{
      padding: 0.5rem 0;
      font-size: 1.5rem;

      &.--price{
        text-align: center;
      }

      &.--list-point{
        list-style: inside;
        padding-left: 1rem;
      }
    }

    &__btn{
      position: absolute;
      right: -5%;
      top: 60%;
      padding: 1rem 1.5rem;
      transform: rotate(-90deg);
      font-size: 1.2rem;
      color: $text-color-tertiary;
      background-color: $background-primary;
      border: 3px solid $background-primary;
      transition: $transition;
      cursor: pointer;
      z-index: 1;


      &:hover{
        background-color: transparent;
        color: $background-primary;
      }
    }


  }

  &__picto{
    position: absolute;
    right: -5%;
    top: 70%;
    transform: rotate(-20deg);
    width: 20rem;

    img{
      width: 100%;
      object-fit: contain;
    }

    &.--left-picto{
      right: initial;
      left: -6%;
      top: 70%;
      transform: rotate(70deg);
    }

    &.--drink{
      width: 30rem;
      right: -12%;
      top: 8%;
      transform: rotate(-92deg);
    }
    &.--left-drink{
      width: 25rem;
      right: initial;
      left: -6%;
      top: 50%;
      transform: rotate(0deg);
    }
  }

  .switch__btn{

    border: 3px solid $background-primary;
    transition: $transition;
    cursor: pointer;
    width: fit-content;
    margin: 5rem auto;

    &__link{

      background-color: $background-primary;
      border: 3px solid $background-primary;
      outline: 3px solid $background-primary;
      transform: translate(-15px, -15px);
      text-align: center;
      transition: $transition;
      padding: 1rem 0;


      a{
        font-size: 1.2rem;
        color: $text-color-primary;
        padding: 1.5rem;
      }

    }

    &:hover {
      .switch__btn__link{
        transform: translate(0, 0);

      }
    }
  }
}